{% extends 'AppBundle::layout.html.twig' %}
{% set TVA = 0.20 %}


{% block stylesheets %}
    <link href="{{ asset('css/shop/homepage.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <address>
                            <h4><strong>Address Delivery</strong></h4>
                            <strong>{{ listOrder.listOrder.Delivery.firstName }} {{ listOrder.listOrder.Delivery.lastName }}</strong>
                            <br>
                            {{ listOrder.listOrder.Delivery.adresse}}
                            <br>
                            {{ listOrder.listOrder.Delivery.cp }} {{ listOrder.listOrder.Delivery.city }} - {{ listOrder.listOrder.Delivery.country }}
                            <br>
                            <abbr title="Phone">P:</abbr> {{ listOrder.listOrder.Delivery.phone }}
                        </address>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <address>
                            <h4><strong>Address Billing</strong></h4>
                            <strong>{{ listOrder.listOrder.Billing.firstName }} {{ listOrder.listOrder.Billing.lastName }}</strong>
                            <br>
                            {{ listOrder.listOrder.Billing.adresse}}
                            <br>
                            {{ listOrder.listOrder.Billing.cp }} {{ listOrder.listOrder.Billing.city }} - {{ listOrder.listOrder.Billing.country }}
                            <br>
                            <abbr title="Phone">P:</abbr> {{ listOrder.listOrder.Billing.phone }}
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <h1>Receipt</h1>
                    </div>
                    </span>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for Weapons in listOrder.listOrder.weapons  %}
                        <tr>
                            <td class="col-md-9"><em>{{ Weapons.Name }}</em></td>
                            <td class="col-md-1" style="text-align: center"> {{ Weapons.quantite }} </td>
                            <td class="col-md-1 text-center">{{ Weapons.prixHT }} €</td>
                            <td class="col-md-1 text-center">{{ Weapons.prixTTC }} €</td>
                        </tr>

                        {% endfor %}
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right">
                                <p>
                                    <strong>Subtotal: </strong>
                                </p>
                                <p>
                                    <strong>Tax: </strong>
                                </p></td>
                            <td class="text-center">
                                <p>
                                    <strong>{{ listOrder.listOrder.prixHT}} €</strong>
                                </p>
                                <p>
                                    <strong>{{ listOrder.listOrder.prixHT * TVA }} €</strong>
                                </p></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right"><h4><strong>Total: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>{{ listOrder.listOrder.prixTTC }}€</strong></h4></td>
                        </tr>
                        </tbody>
                    </table>


                    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="POST">
                        <!--Prix ht ou total a payer-->
                        <input type='hidden' value="{{ listOrder.listOrder.prixHT }}" name="amount" />
                        <!--Type de monnaie-->
                        <input name="currency_code" type="hidden" value="EUR" />
                        <!--Frais de port-->
                        <input name="shipping" type="hidden" value="0.00" />
                        <!--Taxe (tva) Mais pas besoin si on le met dans total a payer-->
                        <input name="tax" type="hidden" value="{{ listOrder.listOrder.prixHT * TVA }}" />

                        <!--Pge de redirection lors de la validation paiement -->
                        <input name="return" type="hidden" value="http://127.0.0.1/Symfony/CSGOFactory/web/app_dev.php/checkout/details/validation/buy/{{ listOrder.id }}" />
                        <!--Page de redirection si l'acheteur annule-->
                        <input name="cancel_return" type="hidden" value="http://votredomaine/paiementAnnule.php" />
                        <!--Page qui traitera les info envoyer par paypal aprés le paiement de l'user-->
                        <input name="notify_url" type="hidden" value="http://127.0.0.1/Symfony/CSGOFactory/web/app_dev.php/checkout/details/validation/buy/{{ listOrder.id }}" />

                        <!--Parametre qui permet de defini le button comme un btn acheter-->
                        <input name="cmd" type="hidden" value="_xclick" />

                        <!--Adresse email du compte buissness-->
                        <input name="business" type="hidden" value="contact.csgo-facilitator@gmail.com" />

                        <!--Adresse de livraison-->
                        <input type="hidden" name="first_name" value="{{ listOrder.listOrder.Delivery.firstName }}">
                        <input type="hidden" name="last_name" value="{{ listOrder.listOrder.Delivery.lastName }}">
                        <input type="hidden" name="address1" value="{{ listOrder.listOrder.Delivery.adresse }}">
                        <input type="hidden" name="city" value="{{ listOrder.listOrder.Delivery.city }}">
                        <input type="hidden" name="state" value="{{ listOrder.listOrder.Delivery.country }}">
                        <input type="hidden" name="zip" value="{{ listOrder.listOrder.Delivery.cp }}">
                        <input type="hidden" name="night_phone_a" value="{{ listOrder.listOrder.Delivery.phone }}">
                        <!--Adresse email du client-->
                        <input type="hidden" name="email" value="{{ listOrder.listOrder.Delivery.emailPro }}">

                        <!--Nom du produit et des produit vendu (éviter les accents)-->
                        <input name="item_name" type="hidden" value="pack CsgoFactory" />

                        <!--Permet d'eviter le commentaire des utilisateur sur le passage du paiement-->
                        <input name="no_note" type="hidden" value="1" />
                        <!--Langue du formulaire paypal qui va suivre-->
                        <input name="lc" type="hidden" value="FR" />
                        <!--parametre paypal a pas toucher-->
                        <input name="bn" type="hidden" value="PP-BuyNowBF" />
                        <!--id de la session utilisateur-->
                        <input name="custom" type="hidden" value="{{ listOrder.id }}" />

                        <input type="submit" name="proceed" value="Pay Now" class="btn btn-success btn-lg btn-block" href="">

                    </form>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
