{% extends 'ShopBundle::layout.html.twig' %}
{% set TVA = 0.20 %}
{% set totalHT = 0 %}

{% block stylesheets %}
    <link href="{{ asset('css/shop/homepage.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
           <p>{{ flashMessage }}</p>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            {% if listWeapons is empty %}
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <div class="text-center caption">
                        <h2>No item in the cart</h2>
                        <p>Go and do some shopping !</p>
                        <a class="btn btn-default" href="{{ path('shop') }}">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </a>
                    </div>
                </div>
                <hr class="col-sm-12 col-md-10 col-md-offset-1">
            {% else %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for Weapons in listWeapons  %}
                        <tr>
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <img class="media-object pull-left" src="{{ Weapons.image.path }}" style="width: 72px; height: 72px;">
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">{{ Weapons.name }}</a></h4>
                                        <h5 class="media-heading"> Model: <a href="#">{{ Weapons.model.name }}</a></h5>
                                        {% if Weapons.quantity >= cart[Weapons.id] %}
                                            <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                        {% else %}
                                            <span>Status: </span><span class="text-danger"><strong>Not In Stock</strong></span>
                                        {% endif %}
                                    </div>
                                </div></td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <input type="number" class="form-control" id="qtWeapon" value="{{ cart[Weapons.id] }}" disabled>
                            </td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>{{ Weapons.price }} €</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>{{ Weapons.price*cart[Weapons.id] }} €</strong></td>
                            <td class="col-sm-1 col-md-1">

                                <a class="btn btn-danger" href="{{ path('cart_delete',{'id' : Weapons.id }) }}">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </a>
                            </td>
                        </tr>
                            {% set totalHT  = totalHT + (Weapons.price * cart[Weapons.id]) %}

                    {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5>Subtotal<br>Estimated shipping</h5><h3>Total</h3></td>
                            <td class="text-right"><h5><strong>{{ totalHT }}€<br>{{ totalHT * TVA }}€</strong></h5><h3>{{ totalHT + (totalHT * TVA) }} €</h3></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>

                                <a class="btn btn-default" href="{{ path('shop') }}">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                                </a>
                            </td>
                            <td>

                                <a class="btn btn-success" href="{{ path('checkout_details') }}">
                                    Complete Secure Checkout <span class="glyphicon glyphicon-play"></span>
                                </a>

                        </tr>
                        </tfoot>
                    </table>
                {% endif %}
        </div>
    </div>
</div>

{% endblock %}
