{% extends 'ShopBundle::layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/shop/checkout.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}

    <div class="container">

        <div class="row">
            <h1>Contact Address</h1><br>
        </div>


        {{ form_start(form) }}
        <div class="row text-center">
            <div class="col-sm-12 col-xs-12 first-box">
                <h1><span class="glyphicon glyphicon-pencil"></span></h1>
                <h3>Contact Information</h3>
            </div>
        </div>

        <div class="row well">
            <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                {{ form_row(form.emailPro,{'label' :'Email'}) }}
            </div>

            <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                {{ form_row(form.phone) }}
            </div>
        </div>


        <div class="row text-center">
            <div class="col-sm-12 col-xs-12 second-box">
                <h1><span class="glyphicon glyphicon-home"></span></h1>
                <h3>Shipping Information</h3>
            </div>
        </div>

        <div class="row well">
            <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.streetAddress) }}

            </div>

            <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                {{ form_row(form.city) }}
                {{ form_row(form.cp ,{'label' :'Postal Code'}) }}
                {{ form_row(form.country) }}
            </div>

            <div class="text-center">
                {{ form_row(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}


    </div>



{% endblock %}
